* {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

#main {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px auto;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 15px;
  text-transform: capitalize;
}

section {
  margin-top: 20px;
}

input {
  max-width: 400px;
  height: 50px;
  padding: 0 30px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  font-size: 18px;
  margin-top: 20px;
}
.btn_container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
button {
  height: 40px;
  width: 100px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  transform: 0.3s linear;
}

#refresh {
  background-color: #2196f3;
}
#refresh:hover {
  background: transparent;
  border: 1px solid #2196f3;
  color: #2196f3;
}
button:hover {
  opacity: 0.8;
  background: transparent;
  border: 1px solid #4caf50;
  color: #4caf50;
}

#output {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  margin: 10px auto;
  text-transform: capitalize;
}

li {
  margin-right: 10px;
  font-weight: bold;
  align-items: center;
}

.war {
  margin-top: 20px;
  color: #ff0000;
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.available {
  font-size: 28px;
  font-weight: 700;
  color: orangered;
  margin-top: 30px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
h2 {
  margin-bottom: 10px;
  margin-top: 40px;
}
#output {
  padding: 0 50px;
  margin-bottom: 10px;
  margin-top: 40px;
  margin-left: 20px;
}
hr {
  height: 0.5px;
  width: 100%;
  background-color: orangered;
  border-radius: 25px;
  margin-top: 85px;
}

@media screen and (max-width: 600px) {
  input {
    width: 80%;
  }
  .war {
    font-size: 18px;
    padding-left: 10px;
  }
  ul {
    padding-left: 20px;
  }
  h1 {
    font-size: 28px;
  }
  #output {
    padding: 5px;
    margin-bottom: 40px;
    margin-top: 10px;
    margin-left: 20px;
  }
}
